body {
    background-color: rgb(250, 250, 250);
}
.top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: baseline;
}
.topmenu {
    display: flex;
}
.menu {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}
.menu:hover {
    border-bottom: solid 3px black;
}
.topmenu p:nth-child(7) {
    font-size: 14px;
    font-weight: 400;
}
main {
    margin: 100px 400px;
}
.midashi {
    border-bottom: solid 1px black;
}
h1 {
    font-size: 60px;
}
h3 {
    text-align: right;
}
.news {
    display: flex;
    flex-wrap: wrap;
}
.contents {
    width: 280px;
    height: 350px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 2px 2px 3px lightgray;
    justify-content: space-between;
}
.contents img {
    margin: 0;
    width: 280px;
    height: 170px;
}
.contents p {
    padding: 10px 15px;
}
.contents p:nth-child(2) {
    font-weight: bold;
}
.tag {
    font-size: 14px;
    color: gray;
    align-self: flex-end;
}
.business {
    margin-top: 100px;
}
.contents2 {
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}
.busi {
    display:inline-block;
    width: 45%;
    margin: 10px auto;
}
.busi img {
    width: 100%;
}
.more {
    display: inline-block;
    border: solid 1px black;
    padding: 5px 20px;
    margin-top: 30px;
}